img {
    height: 400px;
    margin: 0 auto;
    display: block;
              
}

.headline{
    text-align: left;
    color: dodgerblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:80px; /*размер текста*/    
    margin-left: 30px;
}

/* не знаю, как уменьшить отступ между заголовком и подзаголовком */

.subheader{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 400px;
    margin-left: 10px;
    margin-top: 0px   
}

a{
    text-align: right; 
    margin-left: 400px;
    margin-right: 15px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;   
      margin: 50px;
}

.intro{    
    width: 700px;
    margin: 20px auto;
}

.main-text{
    text-align: left;
    margin-left: 300px;
    width: 900px;
}


.main-text.text-more{
    text-align: right;
    margin-left: 900px;
    margin-right: 50px;
    width: 700px;
}

p.idea{    
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
     box-shadow: 0px 0px 30px rgba(255, 255, 0, 1);
    font-style: italic;    
}


span.idea{
    text-align: center; 
    margin-left: 300px;    
    display: block;
    width: 700px;
    background-color: rgba(255, 165, 0, 0.5);
    font-style: italic;
}

.footer-element{
    margin-left: 20px;
    color: rgb(78, 78, 189);
}
    
